<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color:cornsilk">
    <p style="text-align:center"> This is about Ruby on Rails course..</p>
    <p style="text-align:center"> <%= image_tag 'ruby_on_rails.jpg' %> </p>
    <p style="text-align:center">Turn back to homepage</p>
    <p style="text-align:center">  <button style="text-align:center"> <%= link_to 'home', root_path %></button></p>

  </body>
</html>
