<!DOCTYPE html>
  <html>
    <head>
      <title>Homework</title>
    </head>
  <body style="background-color:cornsilk">

    <h1 style="text-align:center">Welcome to home page</h1>
    <p style="text-align:center">
    <%= image_tag 'rails_on_ruby.jpg' %>
  </p>

    <h2 style="text-align:center">Ruby on Rails course</h2>
    <p style="text-align:center">This is my homework for RoR course </p>
    <p style="text-align:center"> <button style="text-align:center"> <%= link_to 'about', about_path %> </button> </p>

    <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/lecture/3849916#questions" title="www.udemy.com"><p style="text-align:center"><button style="text-align:center">Watch RoR course!</button></p></a>

  </body>
</html>
